.container {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-areas: "header header"
                         "sidebar sidebar"
                         "footer footer"
}
.ITEM1 {
    border:rgb(173, 52, 189);
    border-style: solid;
    background-color: yellow;
    grid-area: header;
}
.ITEM2 {
    border:rgb(173, 52, 189);
    border-style: solid;
    background-color: yellow;
    grid-area: sidebar;
}
.ITEM3 {
    border:rgb(173, 52, 189);
    border-style: solid;
    background-color: yellow;
    grid-area: main;
}
.ITEM4 {
    border:rgb(173, 52, 189);
    border-style: solid;
    background-color: yellow;
    grid-area: footer;
}